.aboutPage{
   
    .aboutImgsection{
        width: 100%;
       

        img{
            width: 60%;
            height: 88vh;
            object-fit: cover;
        }
    }

    .aboutDetail{
        max-width: 60%;
        margin: 50px auto;
       text-align: start;
       h6{
           color: var(--web-theme);
       }
        p{
            font-size: 15px;
        }
        h2{
            font-size: 34px;
            
            font-weight: 700;
           margin-bottom: 20px;
        }
    }
    
}