.donationform{
    text-align: start;
    margin-bottom: 30px;

    h4{
        color: var(--web-theme);
        font-weight: 700;
    }

    .donationSection{
        border: 1px dotted black;
        padding: 20px 10px;
        
        .inputRow{
            margin-bottom: 10px;

            input{
                width: 90%;
            }
        }
    }

    .Checkbox{
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
       
        input{
            margin: 5px;
        }
        label{
            font-size: 12px;
        }
        
    }
   
}