.strengtheningProject{
    padding-bottom: 40px;
    .projectImgSection{
        object-fit: cover;
        
        img{
            width: 60%;
            // height: 87vh;
            object-fit:cover;
            margin:auto;
            display: flex;
            justify-content: center;
        }
        
        
    }
    h6{
        color: var(--web-theme);
        width:55%;
        font-weight: 600;
        font-size: 24px;
        margin: 40px auto 15px auto;
        text-align: left;
        
    }
}

