.contactFormSection{
    background-color: rgb(253, 253, 253);
.contactForm{
    
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    .inputSection{
        justify-content: space-around;
        width: 100%;
    display: flex;
        input{
            margin-bottom: 20px;
            padding: 8px 10px;
            font-size: 10px;
            border: 1.5px solid lightgray;
            border-radius: 5px;
            width: 100%;
            
        }
        input[type=text]:focus{
            outline: none;  
            border: 1.5px solid var(--web-theme);   /* oranges! yey */
          }
          input[type=email]:focus{
            outline: none;  
            border: 1.5px solid var(--web-theme);   /* oranges! yey */
          }
    }
   
    textarea{
        width: 100%;
        min-height: 200px;
        margin-top: 10px;
        padding-top: 10px;
        padding-left: 10px;
        border: 1.5px solid lightgray;
        border-radius: 5px;
    }
    .textAreazcont{
        width: 100%;
    }
    textarea[type=text]:focus{
        outline: none;  
        border: 1.5px solid var(--web-theme);   /* oranges! yey */
      }
    
}
}