.volunteerSection{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin-top: 0;
    background-color: rgb(249, 247, 247);


    .volunteerContainer{
        margin-top: 30px;
        padding-bottom: 30px;
    }
    h2{
        
        padding-top: 30px;
        margin-bottom: 40px;
        color: var(--web-theme);
        font-weight: 700;
        font-size: 44px;
        text-shadow: 1px 1px 5px lightpink;

    }

    p{
        text-align: left;
        font-size: 14px;

        span{
            font-weight: 600;
            color: var(--web-theme);
        }
        
    }
    .custBtn{
        align-items: center;
        display: flex;
        padding-left: auto;
        padding-right: auto;
        
        
     }

    .volunteers{
     border-top: 3px solid var(--web-theme);
     margin: 30px auto;
     box-shadow: 1px 1px 10px rgb(196, 195, 195);
        .imgSection{
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
            overflow: hidden;
            margin: 10px auto;
           
            img{
                height: 200px;
            width: 200px;
            }
        }

        .detailSection{
            background-color: var(--web-theme);
            
            h5{
                font-weight: 900;
                color: black;
                padding-top: 15px;
            }
            p{
                text-align: center;
                font-size: 15px;
                font-weight: 500;
                padding: 0;
            }
            h6{
                padding-bottom: 15px; 
                font-weight: 600;
            }
        }
    }
}