.volunteerSection{
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    margin-top: 0;
    background-color: rgb(249, 247, 247);
    padding-bottom:3%;
    padding-top:2%;
}
h2{
    color:#e83802;
}
.Intel{
    margin-top:10%;
}
.post{
  display: inline;
    border-top:2px solid red;
}
.social-media{
    margin-top:5%;
}

.items{
color: black !important;
margin-top:5%;

  }
  .items .social svg{
    margin-right: 17px;
    font-size: 15px;
    color: grey!important;
   }
  .items .social{
    background: transparent;
    color:#282c34;
    opacity: 1;
    margin-right: 10;
  }

  .volunteerContainer{
      margin:auto;
      width:80%;
  }
  .items .facebook:hover svg{
    color: #4267B2 !important;
  }
  .items .twitter:hover svg{
      color:#00acee!important;
  }
  .items .linkedin:hover svg{
    color: #0e76a8 !important;
}
  .items .instagram:hover svg{
    color: #d62976!important;
}

  
  @media(max-width:768px){
    .items .social svg{
        margin-right:0px;
    }  
  }